* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b0c0d0;
  color: #000000;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header, section {
  margin-bottom: 2em;
}

header {
  display: flex;
  justify-content: center;
  margin: 1em;
}

header ul {
  display: grid;
  grid-template-columns: auto auto auto;
}

ul, ol {
  margin-left: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul ul,
ol ol {
  margin-bottom: 0;
  margin-top: 0;
}

table td {
  padding: 5px;
  vertical-align: top;

  &.img-container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  & h3,
  & h2 {
    margin-top: 1em;
  }
}

section > table {
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: 0.5em 0.5em 0.5em 0;
}

table, th ,td {
  border: 1px solid black;
}

table.no-border, table.no-border td {
  border: 0;
}

#ti > table,
#ti > table > tbody > tr > td,
#te > table,
#te > table > tbody > tr > td {
  border: 0;
}

.dungeon {
  background-color: #a0b0c0;
}

.logo {
  height: 110px;
  width: 440px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.v-top {
  vertical-align: top;
}

.map-img {
  width: 244px;
  height: 244px;
  display: block;
}

.marks {
  height: 130px;
  width: 660px;
}

.world-map {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 0;
}

.red {
  color: red;
}

#tq, #sq, #tr {
  width: 1240px;
}

.center-table {
  margin: 2em auto;
}

@import "widths";
