* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b0c0d0;
  color: #000000;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header, section {
  margin-bottom: 2em;
}

header {
  display: flex;
  justify-content: center;
  margin: 1em;
}

table td {
  padding: 5px;
}

td.img-container {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

td {
  vertical-align: top;
}

td h3,
td h2 {
  margin-top: 1em;
}

section > table {
  margin: 0;
}

header ul {
  display: grid;
  grid-template-columns: auto auto auto;
}

ul, ol {
  margin-left: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul ul,
ol ol {
  margin-bottom: 0;
  margin-top: 0;
}

table {
  border-collapse: collapse;
  margin: 0.5em 0.5em 0.5em 0;
}

table, th ,td {
  border: 1px solid black;
}

table.no-border, table.no-border td {
  border: 0;
}

#ti > table,
#ti > table > tbody > tr > td,
#te > table,
#te > table > tbody > tr > td {
  border: 0;
}

.dungeon {
  background-color: #a0b0c0;
}

.w-90 { width: 90px; }
.w-110 { width: 110px; }
.w-120 { width: 120px; }
.w-180 { width: 180px; }
.w-185 { width: 185px; }
.w-200 { width: 200px; }
.w-240 { width: 240px; }
.w-250 { width: 250px; }
.w-260 { width: 260px; }
.w-265 { width: 265px; }
.w-280 { width: 280px; }
.w-290 { width: 290px; }
.w-300 { width: 300px; }
.w-310 { width: 310px; }
.w-320 { width: 320px; }
.w-330 { width: 330px; }
.w-340 { width: 340px; }
.w-350 { width: 350px; }
.w-350 { width: 350px; }
.w-360 { width: 360px; }
.w-370 { width: 370px; }
.w-380 { width: 380px; }
.w-390 { width: 390px; }
.w-400 { width: 400px; }
.w-410 { width: 410px; }
.w-430 { width: 430px; }
.w-437 { width: 437px; }
.w-440 { width: 440px; }
.w-450 { width: 450px; }
.w-475 { width: 475px; }
.w-480 { width: 480px; }
.w-490 { width: 490px; }
.w-500 { width: 500px; }
.w-503 { width: 503px; }
.w-540 { width: 540px; }
.w-550 { width: 550px; }
.w-555 { width: 555px; }
.w-560 { width: 560px; }
.w-580 { width: 580px; }
.w-600 { width: 600px; }
.w-620 { width: 620px; }
.w-630 { width: 630px; }
.w-650 { width: 650px; }
.w-660 { width: 660px; }
.w-710 { width: 710px; }
.w-720 { width: 720px; }
.w-795 { width: 795px; }
.w-1240 { width: 1240px; }

.logo {
  height: 110px;
  width: 440px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.v-top {
  vertical-align: top;
}

.map-img {
  width: 244px;
  height: 244px;
  display: block;
}

.marks {
  height: 130px;
  width: 660px;
}

.world-map {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 0;
}

.red {
  color: red;
}

#tq, #sq, #tr {
  width: 1240px;
}

.center-table {
  margin: 2em auto;
}