body {
  background-color: #b0c0d0;
  color: #000000;
}

.no-border {
  border: 0;
}

.w-130 {
  width: 130px;
}

.w-200 {
  width: 200px;
}

.w-300 {
  width: 300px;
}

.w-437 {
  width: 437px;
}

.w-440 {
  width: 440px;
}

.w-503 {
  width: 503px;
}

.w-660 {
  width: 660px;
}

.w-1240 {
  width: 1240px;
}

.logo {
  height: 110px;
  width: 440px;
}

.left {
  text-align: left;
}

.map-img {
  width: 244px;
  height: 244px;
  display: block;
}

.marks {
  height: 130px;
  width: 660px;
}

.world-map {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 0;
  margin-bottom: 1em;
}

#ma td,
#ma table {
  border: 1px solid black;
  margin-bottom: 1em;
}

#ns td,
#ns table {
  border: 1px solid black;
}